/*PROYECTOS INTERNA*/
.ProyInterna
	&-container
		display inline-block
		width 100%
		position relative
	&-form
		display inline-block
		background $transparent_black		
		width 100%		
		text-align left
		padding 20px 10px
		box-sizing border-box
	&-formTitle
		color $white
		font-weight 700
		font-size 1.25em
		
	&-field
	&-buttonContainer
	&-checkContainer
	&-textAreaContainer
		margin 0
		padding 0
		border none
	&-field
		width 44%
		display inline-block
		margin 0 2.5%		
	&-label
		text-transform uppercase
		margin .3em 0
		font-weight 400
		font-size 1em
		color $white
		display inline-block
	&-input
		width 100%
		height 26px
		border 1px solid $light_gray
		padding .2em
		
	&-textAreaContainer
		width 95%
		margin 0 2.5% 0 2.5%
		
	&-textArea
		width 100%
		min-height 80px
		resize none
		padding .2em	
		
	&-checkContainer
		width 95%
		margin .5em 2.5% 1.4em 2.5%
		text-align justify
		display inline-block
	&-checkLabel
		font-weight 400
		font-size 0.75em
		color $white
		position relative
		left 22px
		cursor pointer
		display inline-block
		width 95%
	&-check
		position absolute
		left -9999px
		
	&-check + label:before
		content ''
		position absolute
		width 19px
		height 19px
		top 0
		left -22px
		transition all .2s
	
	/* OFF */
	&-check:not(:checked) + label:before
		background url('../images/contacto/check-off.png') left center no-repeat

	/* ON */
	&-check:checked + label:before
		background: url('../images/contacto/check-on.png') left center no-repeat
		
	&-buttonContainer
		display inline-block
		width 100%
		text-align center
	&-button		
		background $lima
		font-weight 400
		font-size 0.9em
		color $white
		width 106px
		height 33px
		line-height 33px
		text-transform uppercase
		border none
		margin .5em 2.5% 0
		
	/*imagen logo proyecto*/
	&-logo
		display none
		
/*Tablet Landscape*/
@media screen and (min-width:1024px)
	.ProyInterna
		&-form
			position absolute
			top 0
			left 0
			width 510px
			height 100%			
			padding 30px 20px
		/*imagen logo proyecto*/
		&-logo
			display inline-block
			width 177px
			height 174px
			vertical-align top
			background-color $white
			box-shadow $light_gray 0 5px 35px
			position absolute
			bottom -5px
			right 10px
/*Desktop*/
@media screen and (min-width:1280px)
	.ProyInterna
		&-form			
			padding 70px 40px
		/*imagen logo proyecto*/
		&-logo
			display inline-block
			width 177px
			height 174px
			vertical-align top
			background-color $white
			box-shadow $light_gray 0 5px 35px
			position absolute
			bottom -5px
			right 10px