section.Proyect
	div.Proyect-banner
		img(src="../images/familiar/baner.jpg").Proyect-bannerImage
	div.u-centrar
		h1.Index-title.Proyect-mobile
			|	PROYECTOS FAMILIARES
		h1.Index-title
			|	BAHÍA SOLERO CONDOMINIOS
		div.ProyInterna-container
			img(src="../images/proy-interna/pisina.jpg").ProyInterna-image
			div.ProyInterna-logo
				img.ProyInterna-logoImage(src="../images/familiar/bahia_solero-logo.png")
			form.ProyInterna-form
				h3.ProyInterna-formTitle
					|	CONTÁCTENOS
				fieldset.ProyInterna-field
					label.ProyInterna-label
						|	Nombre
					input.ProyInterna-input(type="text")
				fieldset.ProyInterna-field
					label.ProyInterna-label
						|	Email
					input.ProyInterna-input(type="text")
				fieldset.ProyInterna-textAreaContainer
					label.ProyInterna-label
						|	Mensaje
					textarea.ProyInterna-textArea(type="text-area")
				fieldset.ProyInterna-checkContainer
					input.ProyInterna-check(type='checkbox',value='autoriza', id="check1")
					label.ProyInterna-checkLabel(for="check1")
						| AUTORIZO a CONSORCIO COMERCIAL DE PROYECTOS LTDA. para la recolección,  almacenamiento y uso de mis datos personales, así como para el envío de información y cotizaciones sobre los productos del Grupo Empresarial, y para los demás fines que estime convenientes. Como Titular de información sé que tengo derecho a conocer actualizar y rectificar mis datos personales, solicitar prueba de la autorización otorgada para su tratamiento, ser informado sobre el uso que se ha dado a los mismos, presentar quejas ante la SIC por infracción a la ley, revocar la autorización y/o solicitar la supresión de sus datos en los casos en que sea procedente y acceder en forma gratuita a los mismos.
				fieldset.ProyInterna-buttonContainer
					input.ProyInterna-button(type="submit", value="Leer más")
		div.ProyInterna-medio
			div.ProyInterna-datos
				h3.ProyInterna-contTitle
					|	DATOS DE CONTACTO
				h4.ProyInterna-datTitle
					|	VENTAS
				p.ProyInterna-datDesc
					|	Vía Ricaurte – Girardot Calle 10 No 1-2 Costado Norte (Ricaurte – Cundinamarca)
				h4.ProyInterna-datTitle
					|	TELÉFONO SALA DE VENTAS
				p.ProyInterna-datDesc
					|	611 4330
				h4.ProyInterna-datTitle
					|	CELULAR
				p.ProyInterna-datDesc
					|	316 473 0631
				h4.ProyInterna-datTitle
					|	E-MAIL
				p.ProyInterna-datDesc
					|	comercial1@ccproyectos.com
				div.ProyInterna-social
					h4.ProyInterna-datTitle
						|	COMPARTIR
					div.ProyInterna-redes
						a.ProyInterna-redesIcon
							span.icon-facebook
						a.ProyInterna-redesIcon
							span.icon-twitter
						a.ProyInterna-redesIcon
							span.icon-google-plus
						a.ProyInterna-recButton(href="")
							|	RECOMENDAR ESTE PROYECTO
			div.ProyInterna-vidDelimita
				div.ProyInterna-video
					iframe(width="", height="", src="https://www.youtube.com/embed/UXV_3o9OfOY", frameborder="0", allowfullscreen="")
		div.ProyInterna-tabs
			ul.Tabs#tabsNav
				li.Tabs-item
					a.Tabs-itemLink.Tabs--is-selected(data-tab="tab_one")
						|	DESCRIPCIÓN
				li.Tabs-item
					a.Tabs-itemLink(data-tab="tab_two")
						|	PLANOS Y GALERÍA
				li.Tabs-item
					a.Tabs-itemLink(data-tab="tab_three")
						|	UBICACIÓN
			div.Tabs-content#content
				div#tab_one.Tabs-contentPane.Tabs--is-active
					div.ProyInterna-Descripcion
						h3.ProyInterna-tabTitle
							|	DESCRIPCIÓN DEL PROYECTO
						h4.ProyInterna-tabDatTitle
							|	Bahía Solero Condominios
						p.ProyInterna-tabDatDesc
							|	Es un exclusivo proyecto de condominios con o sin subsidio pensados en la tranquilidad y descanso de toda la familia, ubicado a 5 minutos de Girardot, brinda un clima ideal para vivir disfrutar de un ambiente ideal. Además cuenta con caminos peatonales, amplias zonas verdes, piscina niños y adultos, parque infantil y zonas sociales
						p.ProyInterna-tabDatDesc
							|	Conformado por dos opciones
						h4.ProyInterna-tabDatTitle
							|	Bahía Solero Málaga
						p.ProyInterna-tabDatDesc
							|	Con un área construida desde 57.78 m2 hasta 63.93 m2 y un área privada de  45.41 m2 hasta 50.96 m2. Consta de sala – comedor, porche, 2 alcobas con disponibilidad de ampliar a 3 alcobas, 2 baños, cocina, patio y un parqueadero.
						h4.ProyInterna-tabDatTitle
							|	Bahía Solero Torrosa
						p.ProyInterna-tabDatDesc
							|	Con un área  construida desde 74.14 m2 hasta 87.81 m2, área privada: 62.19 m2 hasta 74.55 m2 conformada por sala – comedor, porche, 3 alcobas con disponibilidad de 4 alcobas, habitación principal con vestier, 3 baños, cocina, patio y parqueadero.
				div#tab_two.Tabs-contentPane
					div.ProyInterna-slides
						div.ProyInterna-slidesMarco
							div.ProyInterna-galeria
								- for (var x = 0; x < 2; x++)
									div.ProyInterna-galeriaItem
										img.ProyInterna-galeriaItemImage(src="../images/proy-interna/casa.jpg")
										p.ProyInterna-galeriaItemDesc
											|	Vía Ricaurte – Girardot Calle 10 No 1-2 Costado Norte (Ricaurte – Cundinamarca)
						div.ProyInterna-slidesMarco
							div.ProyInterna-planos
								- for (var x = 0; x < 2; x++)
									div.ProyInterna-planosItem
										figure.ProyInterna-planosItemImageContainer
											img.ProyInterna-planosItemImage(src="../images/proy-interna/plano.jpg")
										p.ProyInterna-galeriaItemDesc
											|	Vía Ricaurte – Girardot Calle 10 No 1-2 Costado Norte (Ricaurte – Cundinamarca)

				div#tab_three.Tabs-contentPane
					figure.ProyInterna-tabUbicaContainer
						img.ProyInterna-tabUbica(src="../images/proy-interna/mapa.jpg")