/*EXPERIENCIA*/
.Experiencia
	display inline-block
	width 100%
	background $light_gray2
	&-title
		margin 35px 0 !important
		margin-bottom 10px !important
	&-list
		display inline-block
		width 100%
	&-item
		display inline-block
		width 100%
		position relative
		margin 25px 0
	/*Imagen*/
	&-itemImageContainer
		display inline-block
		margin 0
		padding .5em
		background $white		
		max-width 627px
		width 100%		
		box-sizing border-box
		box-shadow 0px 6px 6px rgba(162,162,162,0.4)
		position relative		
	&-itemImage
		max-width 546px
		width 95%
	/*Texto*/
	&-info
		display inline-block
		max-width 627px
		background $white
		padding 60px 40px 20px
		text-align left
		box-sizing border-box
		box-shadow $light_gray 0 5px 35px
		width 100%
		
	&-itemTitle
		margin 0
		font-weight 700
		font-size 1.56em
		color $black
	&-infoDesc
		margin 0
		font-weight 400
		font-size 1em
		color $dark_gray		
	&-infoCaract
		margin 1em 0
		font-weight 400
		font-size 1em
		color $dark_gray
	&-ubiTitle
		margin 0
		font-weight 700
		font-size 1.12em
		color $dark_gray
	&-ubi
		margin 0
		font-weight 400
		font-size 1.06em
		color $dark_gray
	&-itemButton
		display inline-block
		cursor pointer
		text-transform uppercase
		background-color $blue
		color $white
		font-weight 400
		font-size .9em
		width 123px
		height 36px
		line-height 36px
		margin 1em 0
		text-align center
	&-clip
		display none
		
	/*imagen logo proyecto*/
	&-logo
		display none
		
	&-logoOld
			display inline-block
			width 139px
			height 139px
			vertical-align top
			background-color $white
			margin-top 20px

/*Desktop*/
@media screen and (min-width:1024px)
	.Experiencia
		&-title
			margin-top 94px !important
			margin-bottom 40px !important
		&-list
			width auto
			margin 0 auto
		&-item
			margin 40px 0 50px
			display table 
			/* Contenedor con display table, centra elementos flotantes*/
		/*Imagen*/
		&-itemImageContainer			
			float left
			max-width 512px
		&-itemImage
			max-width 546px
		/*Texto*/
		&-info
			width 494px
			max-width 494px
			top 8px
			margin-left -50px
			position relative
			padding 30px 40px 10px 74px
			float left
			min-height 320px
		&-clip
			display inline-block
			width 50px
			height 115px
			position absolute
			top -46px
			left 5px
			z-index 2
		/*imagen logo proyecto*/
		&-logo
			display inline-block
			width 139px
			height 139px
			vertical-align top
			background-color $white
			box-shadow $light_gray 0 5px 35px
			position absolute
			bottom -14px
			right 53px
		
	
/*Desktop*/
@media screen and (min-width:1280px)
	.Experiencia
		/*Imagen*/
		&-itemImageContainer
			width 572px
			float left
			max-width none
		&-itemImage
			max-width 546px
		/*Texto*/
		&-info
			width 627px
			max-width 627px			
			padding 60px 40px 20px