section.Experiencia
	div.u-centrar
		h1.Index-title.Experiencia-title
			|	NUESTRA EXPERIENCIA
		div.Experiencia-item
			figure.Experiencia-itemImageContainer
				img.Experiencia-itemImage(src="../images/experiencia/build-1.jpg")
			div.Experiencia-info
				h3.Experiencia-itemTitle
					|	BUSSINESS CENTER DORADO
				p.Experiencia-infoDesc
					|	Oficinas y locales comerciales
				p.Experiencia-infoCaract
					|	ÁREA PRIVADA OFICINAS: desde 74.99m2*
				p.Experiencia-infoCaract
					|	ÁREA CONSTRUIDA OFICINAS: desde 85.31m2 (Las Áreas aquí descritas pueden ser modificadas por los entes de control al momento de la expendición de la licencia de construcción)*...
				h4.Experiencia-ubiTitle
					|	UBICACIÓN
				p.Experiencia-ubi
					|	Carrera 16 # 78 - 55 oficina 405
				a.Experiencia-itemButton(href="proyecto.html")
					|	LEER MÁS
				div.Experiencia-clip
					img.Experiencia-clipImage(src="../images/index/clip.png")