
.cont_internas {
    width: 100%;
    float: left;
    margin: 55px 0 0 0;
}

.cont_top_contacto {
    width: 95%;
    float: left;
    margin: 0 2.5%;
    max-width: 600px;
}

.cont_gen_form_contacto {
    width: 100%;
    height: auto;
    float: right;
    box-sizing: border-box;
    padding: 10px 0 20px 0;
}

.tit_contacto {
    width: 100%;
    float: left;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
}

.form_contacto {
    width: 100%;
    float: left;
    margin: 30px 0 0 0;
    text-align: left;
}

.cont_acept_contacto {
    width: 100%;
    float: left;
    margin: 10px 0;
    border: none;
    position: relative;
}

.cont_datos_contacto {
    width: 100%;
    display: inline-block;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
    margin: 20px 0 0 0;
}
.cont_datos_contacto a{
    color: #000;
}

.cont_mapa_contacto {
    width: 100%;
    height: 535px;
    background: url(../images/diseno/06-contacto/mapa.jpg) center;
    float: left;
    margin: 40px 0;
}

@media screen and (min-width:480px){
    .cont_top_contacto {
        
        float: none;
        display: inline-block;
        margin: 0 2.5%;
        max-width: 600px;
    }
}

@media screen and (min-width:960px){
    
.cont_top_contacto {
    width: 100%;
    background: url(../images/diseno/06-contacto/fondo_plano.jpg) no-repeat left 31px;
    margin: 0 ;
    max-width: none;
}

.cont_gen_form_contacto {
    width: 726px;
    height: 929px;
    float: right;
    background: url(../images/diseno/06-contacto/fondo_form.png) no-repeat center;
    box-sizing: border-box;
    padding: 100px 50px 30px 50px;
}
.cont_datos_contacto {
    float: left;
    }
    
}


