/*MAINMENU*/
.MainMenu
	background-color $transparent_black
	
	&-list
		list-style none
		padding 0
		margin 1em 0
	&-item
		display inline-block
		margin 0 1em
	&-link
		color $white
		font-weight 400
		font-size 1.12em
		font-family "Century"
		
/*tablet*/
@media screen and (min-width:800px)
	.MainMenu
		position absolute
		top 0
		left 0
		right 0
		z-index 10