nav.MainMenu
	div.u-centrar
		ul.MainMenu-list
			li.MainMenu-item
				a.MainMenu-link(href="")
					|	PROYECTOS FAMILIARES
			li.MainMenu-item
				a.MainMenu-link(href="")
					|	PROYECTOS INDUSTRIALES
			li.MainMenu-item
				a.MainMenu-link(href="")
					|	NUESTRA EXPERIENCIA
			li.MainMenu-item
				a.MainMenu-link(href="")
					|	QUIENES SOMOS
			li.MainMenu-item
				a.MainMenu-link(href="")
					|	NOTICIAS
			li.MainMenu-item
				a.MainMenu-link(href="")
					|	CONTACTO