nav.MainMenu
	div.u-centrar
		ul.MainMenu-list
			li.MainMenu-item
				a.MainMenu-link(href="familiares.html")
					|	PROYECTOS FAMILIARES
			li.MainMenu-item
				a.MainMenu-link(href="familiares.html")
					|	PROYECTOS INDUSTRIALES
			li.MainMenu-item
				a.MainMenu-link(href="experiencia.html")
					|	NUESTRA EXPERIENCIA
			li.MainMenu-item
				a.MainMenu-link(href="quienes.html")
					|	QUIENES SOMOS
			li.MainMenu-item
				a.MainMenu-link(href="noticias.html")
					|	NOTICIAS
			li.MainMenu-item
				a.MainMenu-link(href="contacto.html")
					|	CONTACTO