/*FOOTER*/

.Footer
	&-white
		display inline-block
		// margin 1em
		width 100%

	&-text
		display inline-block
		font-weight 700
		font-size 1em
		color $gray2
		width 115px
		
		
	&-description
		display inline-block
		max-width 490px		
		font-weight 400
		font-size 1em
		color $dark_gray
		text-align left
		
	&-text
	&-description
	&-logoAmbienti
	&-logoOikos
		display inline-block
		vertical-align middle
		margin 1em 2em
		
	&-logoAmbienti
		height 47px
		
	&-logoOikos
		height 55px
		
	/*Formulario RSS*/
	&-gray
		background $light_gray2
		
	&-form
		width 95%
		display inline-block
		margin 2.5%
		
	&-label
		font-weight 300
		font-size 1.12em
		margin .5em 1.3em
		display inline-block
		max-width 527px

	&-rss
		display inline-block
		max-width 500px
		width 330px
	
	&-input	
		background url(../images/contacto/rss-icon.png) no-repeat 0.5% center $white
		height 40px
		padding 2px 2.5% 2px 13%
		box-sizing border-box
		border 1px solid $light_gray3
		width 80%
		
	&-button
		display inline-block
		width 45px
		height 40px
		line-height 40px
		background $gray
		color $white
		font-size 2.2em
		vertical-align top
	&-buttonIcon
		display inline-block
		
	/*Menu Footer- Degradado*/
	&-degrade
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d1d1b+0,3c3c3b+50,1d1d1b+100 */
		background #1d1d1b /* Old browsers */
		background linear-gradient(left,  #1d1d1b 0%, #3c3c3b 50%, #1d1d1b 100%) /* FF3.6-15 */
		background linear-gradient(left,  #1d1d1b 0%,#3c3c3b 50%,#1d1d1b 100%) /* Chrome10-25,Safari5.1-6 */
		background linear-gradient(to right,  #1d1d1b 0%,#3c3c3b 50%,#1d1d1b 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		
	&-menu
		width 100%
		display inline-block
		margin 20px 0
	&-menuList
		display none		
		
	&-menuItem
		margin 1.5em 1em
		
	&-menuLink
		text-transform uppercase
		color $white
		font-weight 700
		font-size 1.12em
		
	/*Redes y contacto*/
		
	&-contacto
		display inline-block		
		color $white
		list-style none
		margin 0
		padding 0
		
	&-contactoMail
	&-contactoTel
	&-contactoRedes
		margin 1.5em 1em
		
	&-contactoMail
		font-weight 700
	
	&-contactoMailIcon
		font-size 1.5em
		margin 0 .5em
		
	&-contactoMailtext	
		font-size 1.12em
		color $white
		cursor pointer
		
	&-contactoMailIcon
	&-contactoMailtext
		vertical-align middle
		
	&-contactoTel
		font-weight 700		
		
	&-contactoTelIcon
		font-size 2em
		margin 0 .5em
		
	&-contactoTelText
		font-size 1.12em
		color $white
		cursor pointer
		
	&-contactoTelIcon
	&-contactoTelText
		vertical-align middle
		
	&-contactoRedes				
		font-weight 700
		
	&-contactoRedesText		
		font-size 1.12em
		
	&-contactoRedesIcon
		display inline-block
		margin 0 .3em
		font-size 1.43em
		vertical-align middle
		color $white
		
	&-copy
		display inline-block
		width 100%
		border-top 1px solid $white
		
	&-copyText
		color $white
		font-weight 400
		font-size 0.87em
		margin 1em 1em 1.6em
		display inline-block
		
	&-copyLink
		color $white
		text-decoration none
/*Phone Landscape*/
@media screen and (min-width:600px)
	.Footer		
		&-rss
			display inline-block			
			width 500px
			
		/*Degradado - Menus*/
		&-menuList
			display inline-block
			width 30%
			list-style none
			margin 0
			padding 0
		/*Redes y contacto*/
			
		&-contacto			
			width 38%