footer.Footer
	div.u-centrar
		div.Footer-white
			span.Footer-logoAmbienti
				img(src="../images/logos/logo-ambienti.png").Footer-logoAmbientiImg
			h4.Footer-text
				|	Dos empresas constructoras
			span.Footer-logoOikos
				img(src="../images/logos/logo-oikos.png").Footer-logoOikosImg
			p.Footer-description
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cumque maxime dolore, placeat! Maxime, aperiam sunt quis tempora illum cupiditate voluptatem debitis adipisci, et aliquam, sed laboriosam ut, explicabo accusantium.
	div.Footer-gray
		div.u-centrar
			form.Footer-form
				label.Footer-label(for="rss")
					|	INGRESE SU CORREO PARA RECIBIR NUESTRA INFORMACIÓN
				div.Footer-rss
					input.Footer-input(type="text",name="rss")
					a.Footer-button(href="#")
						span.Footer-buttonIcon.icon-chevron-thin-right
	div.Footer-degrade
		div.u-centrar
			nav.Footer-menu
				ul.Footer-menuList
					li.Footer-menuItem
						a.Footer-menuLink(href="")
							|	QUIENES SOMOS
					li.Footer-menuItem
						a.Footer-menuLink(href="familiares.html")
							|	PROYECTOS FAMILIARES
					li.Footer-menuItem
						a.Footer-menuLink(href="")
							|	PROYECTOS INDUSTRIALES
				ul.Footer-menuList
					li.Footer-menuItem
						a.Footer-menuLink(href="")
							|	NUESTRA EXPERIENCIA
					li.Footer-menuItem
						a.Footer-menuLink(href="")
							|	NOTICIAS
					li.Footer-menuItem
						a.Footer-menuLink(href="")
							|	CONTACTO
				ul.Footer-contacto
					li.Footer-contactoMail
						span.icon-envelope.Footer-contactoMailIcon
						a.Footer-contactoMailtext(href="#")
							|	serv-cliente@consorcioc.com
					li.Footer-contactoTel
						span.icon-mobile.Footer-contactoTelIcon
						a.Footer-contactoTelText(href="#")
							|	3132345678
					li.Footer-contactoRedes
						span.Footer-contactoRedesText
							|	SÍGANOS EN
						a.Footer-contactoRedesIcon(href="#")
							span.icon-facebook
						a.Footer-contactoRedesIcon(href="#")
							span.icon-twitter
						a.Footer-contactoRedesIcon(href="#")
							span.icon-google-plus
						a.Footer-contactoRedesIcon(href="#")
							span.icon-youtube
						a.Footer-contactoRedesIcon(href="#")
							span.icon-blogger
						a.Footer-contactoRedesIcon(href="#")
							span.icon-rss
			div.Footer-copy
				h5.Footer-copyText
					|	Consorcio Comercial de Proyectos Ltda. Todos los derechos reservados | Diseño, Desarrollo y Posicionamiento SEO por PAXZU