section.Proyect
	div.Proyect-banner(style="background-image: url(../images/familiar/baner.jpg)")
		//- img(src="../images/familiar/baner.jpg").Proyect-bannerImage
		div.u-centrar.Proyect-mainTitleContainer
			h1.Proyect-mainTitle
				|	PROYECTOS FAMILIARES
	div.u-centrar
		h1.Index-title.Proyect-mobile
			|	PROYECTOS FAMILIARES
		div.Proyect-List
			- for (var x = 0; x < 2; x++)
				div.Proyect-item
					img.Proyect-itemImage(src="../images/familiar/pisina.jpg")
					div.Proyect-itemCuadro
						div.Proyect-itemLogo
							img.Proyect-itemImage(src="../images/familiar/bahia_solero-logo.png")
						div.Proyect-itemDesc
							h4.Proyect-itemUbica
								|	UBICACIÓN
							p.Proyect-itemDir
								|	Carrera 16 # 78 - 55 oficina 405
							p.Proyect-itemPrecio
								|	$100’456.900
							a.Proyect-itemButton(href="proyecto.html")
								|	LEER MÁS
							div.Proyect-itemTipo.Proyect-itemTipo1
								h4.Proyect-itemTipoTxt
									|	CASAS
				div.Proyect-item
					img.Proyect-itemImage(src="../images/familiar/casa.jpg")
					div.Proyect-itemCuadro
						div.Proyect-itemLogo
							img.Proyect-itemImage(src="../images/familiar/praia-logo.png")
						div.Proyect-itemDesc
							h4.Proyect-itemUbica
								|	UBICACIÓN
							p.Proyect-itemDir
								|	Carrera 16 # 78 - 55 oficina 405
							p.Proyect-itemPrecio
								|	$100’456.900
							a.Proyect-itemButton(href="proyecto.html")
								|	LEER MÁS
							div.Proyect-itemTipo.Proyect-itemTipo2
								h4.Proyect-itemTipoTxt
									|	APARTAMENTOS