section.Index-destacado
	div.u-centrar
		h1.Index-destacadoTitle
			|	PROYECTO DESTACADO
		p.Index-destacadoDescription
			|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cumque sapiente alias enim commodi! Minus harum architecto ad sit porro tempora, vero maiores, incidunt expedita quo laudantium. Eaque, laboriosam, sunt!
		div.Index-destacadoContainer
			iframe(width="", height="", src="https://www.youtube.com/embed/UXV_3o9OfOY", frameborder="0", allowfullscreen="")