/*INDEX*/

.Index
	&-title
		font-weight 700
		font-size 1.56em
		color $white
		background-color $dark_black
		display inline-block
		width 391px
		height 49px
		line-height 49px
		margin 40px 0
		text-transform uppercase
		// padding .5em 1.5em
	
	&-itemFondo
		background-image url('../images/index/fondo-clip.png')
		width 795px
		min-height 505px
		display inline-block
		background-size contain
		background-repeat no-repeat
		background-position top
	
	/*Informacion proyectos*/
	&-itemContainer
		display inline-block
		margin 53px 42px 53px 32px
		position relative
		
	&-itemTitle
		position absolute
		top 0
		left 0
		right 0
		margin 0
		padding .5em .7em
		text-align left
		font-weight 700
		font-size 1.87em
		color $dark_black		
		background-color $transparent_white
		text-transform uppercase
	&-itemDesc
		position absolute
		bottom -40px
		left 0
		right 0
		background-color $white
		max-width 674px
		margin 0 25px
		padding 25px
		box-shadow $light_gray 0 10px 35px
	&-itemText	
		max-width 445px
		text-align left
	&-itemText
	&-itemButton
		display inline-block
		vertical-align middle
	&-itemButton
		cursor pointer
		text-transform uppercase
		background-color $lima
		color $white
		font-weight 400
		font-size 0.9em
		width 123px
		height 36px
		line-height 36px
		
	&-itemFondo
	&-itemSlide
		vertical-align bottom	
	/*Info slides*/
	&-itemSlide
		width 385px
		min-height 482px
		display inline-block
	&-itemSlideContainer
		display inline-block		
		position relative
	&-itemSlideTitle
		position absolute
		top 0
		left 0
		right 0
		background-color $transparent_white
		margin 0
		padding .5em
		font-weight 700
		font-size 1.87em
		color $dark_black
	&-itemSlideDesc
		position absolute
		bottom -60px
		left 0
		right 0
		background-color $white
		max-width 341px
		margin 0 auto
		box-shadow $light_gray 0 10px 35px
	&-itemSlideText
		max-width 283px
		// max-height 93px /*Revisar falta text-overflow*/
		color $dark_gray
		font-weight 400
		font-size 1em
	&-itemSlideText
	&-itemSlideButton
		display inline-block		
	&-itemSlideButton
		cursor pointer
		text-transform uppercase
		background-color $blue
		color $white
		font-weight 400
		font-size 0.9em
		width 123px
		height 36px
		line-height 36px
		margin-bottom 1em