/*INDEX*/

.Index
	&-title
		font-weight 700
		font-size 1.56em
		color $white
		background-color $dark_black
		display inline-block
		width 340px
		height 49px
		line-height 49px
		margin 20px 0
		text-transform uppercase
		// padding .5em 1.5em
	&-Container
		margin-bottom 20px
	
	&-itemFondo		
		display inline-block				
	
	/*Informacion proyectos*/
	&-clip
		display none		

	&-itemContainer
		display inline-block
		margin 20px
		position relative
		min-height 435px
		
	&-itemTitle
		position absolute
		top 0
		left 0
		right 0
		margin 0
		padding .5em .7em
		text-align left
		font-weight 700
		font-size 1.87em
		color $dark_black		
		background-color $transparent_white
		text-transform uppercase
	&-itemDesc
		position absolute
		bottom -40px
		left 0
		right 0
		background-color $white
		max-width 674px
		margin 0
		padding 15px
		box-shadow $light_gray 0 5px 35px
	&-itemText	
		max-width 445px
		text-align left
		margin 1em
	&-itemText
	&-itemButton
		display inline-block
		vertical-align middle
	&-itemButton
		cursor pointer
		text-transform uppercase
		background-color $lima
		color $white
		font-weight 400
		font-size 0.9em
		width 123px
		height 36px
		line-height 36px
		margin 1em
		
	&-itemFondo
	&-itemSlide
		vertical-align top	
	
	/*Info slides*/
	&-itemSlideCarousel
		width 340px
		min-height 482px
		display inline-block !important
		margin 30px 0 10px
	&-itemSlide
		width 340px
		min-height 445px		
		display inline-block		
	&-itemSlideContainer
		display inline-block		
		position relative		
	&-itemSlideTitle
		position absolute
		top 0
		left 0
		right 0
		background-color $transparent_white
		margin 0
		padding .5em
		font-weight 700
		font-size 1.87em
		color $dark_black
	&-itemSlideDesc
		position absolute
		bottom -60px
		left 0
		right 0
		background-color $white
		max-width 341px
		margin 0 auto
		box-shadow $light_gray 0 5px 35px
	&-itemSlideText
		max-width 283px		
		color $dark_gray
		font-weight 400
		font-size 1em
		overflow(ellipsis)
	&-itemSlideText
	&-itemSlideButton
		display inline-block		
	&-itemSlideButton
		cursor pointer
		text-transform uppercase
		background-color $blue
		color $white
		font-weight 400
		font-size 0.9em
		width 123px
		height 36px
		line-height 36px
		margin-bottom 1em
		
	/*PROYECTO DESTACADO*/
	&-destacado
		background-image url('../images/index/fondo_video.jpg')	
		background-size cover
		background-repeat no-repeat
		background-position center
	&-destacadoTitle
		font-weight 700
		font-size 1.87em
		color $dark_black
		display inline-block
		width 100%
		text-transform uppercase
		margin 45px 0 0
		
	&-destacadoDescription
		font-weight 400
		font-size 1em
		color $dark_gray
		max-width 740px
		display inline-block
		
	&-destacadoContainer
		display inline-block
		background-color $light_gray2
		max-width 655px
		min-height 320px
		width 100%
		padding .7em
		margin-bottom 40px
		box-shadow $transparent_black 0 7px 15px
		box-sizing border-box
		
		& iframe
			width 90%
			height 300px
			
/*Phone Landscape*/
@media screen and (min-width:600px)
	.Index
		&-Container
			margin-bottom 40px
		&-title
			width 391px
			margin 40px 0
		&-itemDesc
			margin 0 25px
			padding 15px
		/*Informacion proyectos*/
		&-itemContainer			
			min-height none
			margin 53px 42px 53px 32px
		/*Info slides*/
		&-itemSlideCarousel
			width 385px
			margin 40px .5em 0	
		&-itemSlide
			width 385px
			min-height 482px		

/*Desktop*/
@media (min-width: 840px)
	.Index		
		&-itemFondo
			background-image url('../images/index/fondo-clip.png')
			width 795px
			min-height 505px			
			background-size contain
			background-repeat no-repeat
			background-position top
		&-clip
			display inline-block
			width 50px
			height 115px
			position absolute
			top -52px
			right 45px
			z-index 2
		&-destacadoContainer			
			& iframe
				width 630px
				height 355px
				
/*Controles OWl*/

.Index-itemSlideCarousel.owl-carousel .owl-controls .owl-nav
	margin-top 0
	
.Index-itemSlideCarousel.owl-carousel .owl-controls .owl-dots .owl-dot span
	width 20px
	height 20px
	background-color $light_gray3
	
.Index-itemSlideCarousel.owl-carousel .owl-controls .owl-dots .owl-dot.active span
	background-color $gray