section.Banner
	div.Banner-slides.owl-carousel
		div.Banner-item
			img(src="../images/index/banner-index.jpg").Banner-image
			div.Banner-info
				figure.Banner-infoImageContainer
					img(src="../images/index/caboverde-logo.png").Banner-infoImage
				div.Banner-text
					h4.Banner-textTitle
						|	Cabo Verde Condominios
					p.Banner-textDesc
						|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
		div.Banner-item
			img(src="http://lorempixel.com/1920/714/people").Banner-image
			div.Banner-info
				figure.Banner-infoImageContainer
					img(src="../images/index/caboverde-logo.png").Banner-infoImage
				div.Banner-text
					h4.Banner-textTitle
						|	Cabo Verde Condominios
					p.Banner-textDesc
						|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
		div.Banner-item
			img(src="http://lorempixel.com/1920/714/technics").Banner-image
			div.Banner-info
				figure.Banner-infoImageContainer
					img(src="../images/index/caboverde-logo.png").Banner-infoImage
				div.Banner-text
					h4.Banner-textTitle
						|	Cabo Verde Condominios
					p.Banner-textDesc
						|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
	include ../MainMenu/template.jade
	div.Banner-fondo
		div.u-centrar
			div.Banner-fondoText
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus illum omnis ab expedita ad recusandae ea dolore velit sed doloremque quo, nostrum, minima voluptatum quaerat ex, repellat libero aut atque!