/*NEWS*/

.News
	/*Slider Noticias*/
	&-list
		width 100%
	&-item
		display inline-block
		max-width 390px
		min-height 516px
		background $light_gray2
		margin .2em
		vertical-align top
	&-itemImage
		max-width 390px
		max-height 260px
	&-itemText
		text-align left
		padding .5em 1.2em
		max-height 256px
	&-itemTitle
		font-weight 700
		font-size 1.31em
		color $dark_black
		margin 0 0 1em
		padding-bottom .5em
		border-bottom 2px solid $dark_gray2
	&-itemDescription
		font-weight 400
		font-size 1em
		color $dark_gray
		margin 0
		// overflow(ellipsis)
	&-itemButton
		cursor pointer
		text-transform uppercase
		background-color $lima
		color $white
		font-weight 400
		font-size 0.9em
		width 123px
		height 36px
		line-height 36px
		margin 1em
		text-align center
		float right