.cont_internas
  .u-centrar
    h1.Index-title 	noticias 
    .cont_gen_notic
      .img_plantilla2
        img(src='../images/diseno/05-noticias/img_2.jpg')
      #titulo_plantilla2
        | INTEGER ORNARE NUNC IN ONSEQUAT CONGUE.
      .txt_1_plantilla2
        span PIECE OF CLASSICAL LATIN LITERATURE FROM
        br
        br
        |                   Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.
        br
        br
        | from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus.
        br
        br
        | Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
      .column_plantilla
        | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.
        br
        br
        span FROM A LOREM IPSUM PASSAGE, AND GOING THROUGH
        br
        br
        | The cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus.
        | Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
      .column_plantilla
        img(src='../images/diseno/05-noticias/img_3.jpg')
      .cont_gen_compartir_plantilla
        .txt_compartir Compartir esta nota
        a.btn_compartir(href=' ')
          span.icon-facebook
        a.btn_compartir(href=' ')
          span.icon-twitter
        a.btn_compartir(href=' ')
          span.icon-google-plus
    .News-list.owl-carousel
      .News-item
        img.News-itemImage(src='../images/news/room-interior.jpg')
        .News-itemText
          h3.News-itemTitle 	INTEGER ORNARE NUNC IN ONSEQUAT CONGUE. 
          p.News-itemDescription
            | Etiam sem dui, auctor sed ex eget, rutrum faucibus magna. Etiam eleifend arcu volutpat nisl ornare, vel mattis risus lobortis. Sed vehicula feugiat condimentum. Nullam ac tristique elit.
          a.News-itemButton(href='') 	LEER MÁS
      .News-item
        img.News-itemImage(src='../images/news/room-interior.jpg')
        .News-itemText
          h3.News-itemTitle 	INTEGER ORNARE NUNC IN ONSEQUAT CONGUE. 
          p.News-itemDescription
            | Etiam sem dui, auctor sed ex eget, rutrum faucibus magna. Etiam eleifend arcu volutpat nisl ornare, vel mattis risus lobortis. Sed vehicula feugiat condimentum. Nullam ac tristique elit.
          a.News-itemButton(href='') 	LEER MÁS
      .News-item
        img.News-itemImage(src='../images/news/room-interior.jpg')
        .News-itemText
          h3.News-itemTitle 	INTEGER ORNARE NUNC IN ONSEQUAT CONGUE. 
          p.News-itemDescription
            | Etiam sem dui, auctor sed ex eget, rutrum faucibus magna. Etiam eleifend arcu volutpat nisl ornare, vel mattis risus lobortis. Sed vehicula feugiat condimentum. Nullam ac tristique elit.
          a.News-itemButton(href='') 	LEER MÁS
      .News-item
        img.News-itemImage(src='../images/news/room-interior.jpg')
        .News-itemText
          h3.News-itemTitle 	INTEGER ORNARE NUNC IN ONSEQUAT CONGUE. 
          p.News-itemDescription
            | Etiam sem dui, auctor sed ex eget, rutrum faucibus magna. Etiam eleifend arcu volutpat nisl ornare, vel mattis risus lobortis. Sed vehicula feugiat condimentum. Nullam ac tristique elit.
          a.News-itemButton(href='') 	LEER MÁS
      .News-item
        img.News-itemImage(src='../images/news/room-interior.jpg')
        .News-itemText
          h3.News-itemTitle 	INTEGER ORNARE NUNC IN ONSEQUAT CONGUE. 
          p.News-itemDescription
            | Etiam sem dui, auctor sed ex eget, rutrum faucibus magna. Etiam eleifend arcu volutpat nisl ornare, vel mattis risus lobortis. Sed vehicula feugiat condimentum. Nullam ac tristique elit.
          a.News-itemButton(href='') 	LEER MÁS