div.News-list
	div.News-item
		img.News-itemImage(src="../images/news/room-interior.jpg")
		div.News-itemText
			h3.News-itemTitle
				|	INTEGER ORNARE NUNC IN ONSEQUAT CONGUE. 
			p.News-itemDescription
				|	Etiam sem dui, auctor sed ex eget, rutrum faucibus magna. Etiam eleifend arcu volutpat nisl ornare, vel mattis risus lobortis. Sed vehicula feugiat condimentum. Nullam ac tristique elit.
			a.News-itemButton(href="")
				|	LEER MÁS
	div.News-item
		img.News-itemImage(src="../images/news/hands-key.jpg")
		div.News-itemText
			h3.News-itemTitle
				|	IN TEMPOR VOLUTPAT LIGULA, UT MOLLIS ANTE
			p.News-itemDescription
				|	Maecenas sodales ipsum at arcu tempor facilisis. Quisque risus justo, tempus non tempus et, varius laoreet ante. Sollicitudin ac diam nec, luctus hendrerit sem. Praesent non metus sed nulla aliquet consectetur.
			a.News-itemButton(href="")
				|	LEER MÁS
	div.News-item
		img.News-itemImage(src="../images/news/grua.jpg")
		div.News-itemText
			h3.News-itemTitle
				|	QUISQUE VITAE VESTIBULUM NISL, VITAE SUSCIPIT LOREM
			p.News-itemDescription
				|	Maecenas sodales ipsum at arcu tempor facilisis. Quisque risus justo, tempus non tempus et, varius laoreet ante. Sollicitudin ac diam nec, luctus hendrerit sem. Praesent non metus sed nulla aliquet consectetur.
			a.News-itemButton(href="")
				|	LEER MÁS