/*HEADER*/

.Header
	background-color $white
	display inline-block
	width 100%
	
	&-logos
		display inline-block
		float left
		width 100%
	&-logoOikos
	&-logoAmbienti
		display none
		
	&-logoConsorcio
		display inline-block
		margin 0 0 0 1em
		float left
	&-logoConsorcioImg
		width 120px
		
	/*Menu Mobile*/
		
	&-mobile
		display inline-block
		vertical-align middle
		color $dark_black
		float right
		font-size 2.2em
		line-height 1.7em
		
	&-mobileTel
	&-mobileMail
	&-mobileMenu
	&-mobileRedes
		cursor pointer
		margin 0 .5rem
	
	/*Info de contacto*/

	&-contacto
		color $gray
		margin 1em .5em
		position absolute
		top 42px
		z-index 10
		left 0
		right 0
		background $white
		
	&-contactoMail
	&-contactoTel
	&-contactoRedes
		display none
		
	&-contactoMail
	&-contactoTel
		margin .5em 1em
		
	&-contactoMailtext
		font-weight 700
		font-size 1.12em
		color $gray
		cursor pointer
		
	&-contactoMailIcon
		font-size 1.5em
		margin 0 .5em
		
	&-contactoMailIcon
	&-contactoMailtext
		vertical-align middle
		
	&-contactoTel
		font-weight 700
		// margin 0 1em
		
	&-contactoTelIcon
		font-size 1.5em
		
	&-contactoTelText
		font-size 1em
		color $gray
		cursor pointer
		
	&-contactoTelIcon
	&-contactoTelText
		vertical-align middle
		
	&-contactoRedes
		margin .5em 0
		
	&-contactoRedesText
		font-weight 700
		font-size 0.87em
		
	&-contactoRedesIcon
		display inline-block
		margin 0 .3em
		font-size 1.43em
		vertical-align middle
		color $gray
		cursor pointer
		
/*Phone Landscape*/
@media screen and (min-width:600px)
	.Header
		&-logoOikos
		&-logoConsorcio
		&-logoAmbienti
			vertical-align middle
		&-logoConsorcio		
			margin 0 .4em
			float left
		&-logoOikos
			margin 0 .4em 0 .7em
			float left
		&-logoAmbienti
			margin 0
			float left
		&-logoOikos
		&-logoAmbienti
			display inline-block
		&-logoOikosImg
			width 74px
		&-logoAmbientiImg
			width 150px
		&-contactoRedesIcon
			margin 0 .5em
/*Tablet Landscape*/
@media screen and (min-width:1024px)
	.Header
		margin-top 50px
		
		/*Logos*/
		&-logos
			width auto	

		&-logoOikos
		&-logoAmbienti
			display inline-block
			margin 0 .5em
			
		&-logoConsorcio
			// float none
			margin 0 1.5em
			
		&-logoConsorcioImg
		&-logoOikosImg
		&-logoAmbientiImg
			width auto
			
		/*Menu Mobile*/			
		&-mobile
			display none
		/*Info de Contacto*/
		&-contacto
			display inline-block
			float right
			position static
			background transparent
		
		&-contactoMail
		&-contactoTel
			display inline-block !important
			margin 0
			
		&-contactoRedes
			display block !important
		&-contactoRedes
			text-align right
/*Desktop*/
@media screen and (min-width:1280px)
	.Header
		/*Info de Contacto*/
		&-contactoMail
		&-contactoTel			
			margin 0 1em