header.Header
	div.u-centrar
		div.Header-logos
			span.Header-logoOikos
				img(src="../images/logos/logo-oikos.png").Header-logoOikosImg
				//- include ../Logos/logo-oikos.jade
			span.Header-logoConsorcio
				img(src="../images/logos/logo-consorcio.png").Header-logoConsorcioImg
				//- include ../Logos/logo-consorcio.jade
			span.Header-logoAmbienti
				img(src="../images/logos/logo-ambienti.png").Header-logoAmbientiImg
			div.Header-mobile
				span.icon-mobile.Header-mobileTel
				span.icon-envelope.Header-mobileMail
				span.icon-share2.Header-mobileRedes
				span.icon-menu.Header-mobileMenu
		div.Header-contacto
			div.Header-contactoMail
				span.icon-envelope.Header-contactoMailIcon
				span.Header-contactoMailtext
					|	serv-cliente@consorcioc.com
			div.Header-contactoTel
				span.icon-mobile.Header-contactoTelIcon
				span.Header-contactoTelText
					|	3132345678
			div.Header-contactoRedes
				span.Header-contactoRedesText
					|	SÍGANOS EN
				a.Header-contactoRedesIcon
					span.icon-facebook
				a.Header-contactoRedesIcon
					span.icon-twitter
				a.Header-contactoRedesIcon
					span.icon-google-plus
				a.Header-contactoRedesIcon
					span.icon-youtube
				a.Header-contactoRedesIcon
					span.icon-blogger
				a.Header-contactoRedesIcon
					span.icon-rss