.cont_internas
  .cont_top_quienes
    .u-centrar
      .cont_txt_quienes
        h1.titulo_quienes QUIÉNES SOMOS
        .txt_quienes
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  .cont_2_quienes
    .u-centrar
      .columns_quienes.col1
        figure.logo_quienes
          img(src='../images/diseno/04-quienes/ic_ambienti.jpg')
        h2.titulo_logo_quienes.ambienti
          | AMBIENTI CONSTRUCTORA
        .txt_logo_quienes
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      .columns_quienes.col2
        figure.logo_quienes
          img(src='../images/diseno/04-quienes/ic_oikos.jpg')
        h2.titulo_logo_quienes.oikos
          | OIKOS CONSTRUCTORA
        .txt_logo_quienes
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      .logo_quienes.consosrcio
        img(src='../images/diseno/04-quienes/ic_consorcio.jpg')